/AreaCircunferencia.class
/Console.class
/ConversaoNumeroString.class
/ConversaoStringNumero.class
/ConversaoTipoPrimitivoNumerico.class
/Inferencia.class
/NotacaoPonto.class
/Temperatura.class
/TipoString.class
/TipoStringEquals.class
/TiposPrimitivos.class
/Wrappers.class
